@model Ilan
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}
<form method="post" action="/Admin/AdminIlanDetay">
    <input type="text" name ="id" value="@Model.IlanID" hidden/>
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gy-5 gx-4">
                <div class="col-lg-8">
                    <div class="d-flex align-items-center mb-5">
                        <img class="flex-shrink-0 img-fluid border rounded" src=@Model.IlanFotoUrl alt="" style="width: 80px; height: 80px;">
                        <div class="text-start ps-4">

                            <input type="text" value="@Model.Firma" name="firma" />

                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Sehir, @Model.Ulke</span>
                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@Model.CalismaTuru</span>
                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$@Model.Maas</span>
                            <input  value="GÜNCELLE" type="submit" class="btn btn-warning"/>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-3">İŞ DETAYLARI</h4>
                        <textarea cols="56" rows="5" name="aciklama" >@Model.IlanAciklama </textarea>
                        <h4 class="mb-3">Sorumluluklar</h4>
                        <p>@Model.IlanSorumluluklar</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-angle-right text-primary me-2"></i>@Model.IlanSorumluluklar</li>
                        </ul>
                        <h4 class="mb-3">Yetenekler</h4>
                        <p>Yeteneklerim aşağıdadır.</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-angle-right text-primary me-2"></i>@Model.IlanYetenekler</li>
                        </ul>
                    </div>


                </div>

                <div class="col-lg-4">
                    <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4">İŞ ÖZETİ</h4>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Published On:@Model.YayimlanmaTarihi.ToString("dd-MM-yyyy")</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: @Model.BasvuruSayisi</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: @Model.CalismaTuru</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: $@Model.Maas</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Location: @Model.Sehir, @Model.Ulke</p>
                        <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: 01 Jan, 2045</p>
                    </div>
                    <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4">Company Detail</h4>
                        <p class="m-0">Ipsum dolor ipsum accusam stet et et diam dolores, sed rebum sadipscing elitr vero dolores. Lorem dolore elitr justo et no gubergren sadipscing, ipsum et takimata aliquyam et rebum est ipsum lorem diam. Et lorem magna eirmod est et et sanctus et, kasd clita labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</form>
